.Rproj.user
.Rhistory
.RData
.Ruserdata
.ipynb_checkpoints/
*/.ipynb_checkpoints/
__pycache__/
*/__pycache__/
scratch/
*/scratch/
notes/
*/notes/
data/
output/
"props  notes.txt"
scripts/scratch/
scripts/scratch.R
scripts/dbupdate.R
scripts/Lfifteen.R
scripts/propfarming_original.R
scripts/bettingscrape.R
scripts/.ipynb_checkpoints/
scripts/sqlTesting.sql
scripts/linescraper-Copy1.ipynb
