[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
beautifulsoup4 = "*"
selenium = "*"
requests = "*"
datetime = "*"
jupyterlab = "*"
fsspec = "*"
pybaseball = "*"
mlb-statsapi = "*"
nba-api = "*"
mysql-connector-python = "*"
pymysql = "*"
sqlalchemy = "*"
py-ball = "*"
openpyxl = "*"
pymc3 = "*"
dash = "*"

[dev-packages]

[requires]
python_version = "3.9"
